[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
mock = "*"
pytest = "<4.0.0,>=3.0.6"
pytest-cov = "<3.0.0,>=2.4.0"
pylama = "<8.0.0,>=7.0.6"
pylama_pylint = ">=3.0.1,<4.0.0"

[packages]
art = "==2.6"
tabulate = ">=0.8.2"
pprint = "*"
PyInquirer = "*"

[requires]
python_version = "3.6"
